body {
  margin: 0;
  width: 600px;
  height: 600px;
  background: #555;
}

.Row{
  background: #aaa;
  margin: 3px;
  border-radius: 5px;
}

.Selected{
  background: #777;
}

label::selection{
  background: #777;
  user-select: all;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
