html {
  --main-color:#ddd;
  --secondary-color:#ccc;
  --accent-color:#aaa;
  --text-color:#333;
  --neutral-color: #888;
}

html[data-theme="night"] {
  --main-color:#333;
  --secondary-color:#444;
  --accent-color:#666;
  --text-color:#ddd;
}

#root{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 600px;
  height: 600px;
  background: var(--main-color);
  color: var(--text-color);
  font-family: monospace;
  overflow: hidden;
  transition: background-color 1s, color 1s;
}

.Row{
  background: var(--secondary-color);
  margin: 3px;
  border-radius: 5px;
  user-select: none;
}

.Selected{
  background: var(--accent-color);
}

.App{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: auto;
}

.App::-webkit-scrollbar-track
{
  background: var(--main-color);
  margin: 3px;
}

.App::-webkit-scrollbar
{
	width: 10px;
  background: var(--main-color);
  margin: 3px;
}

.App::-webkit-scrollbar-thumb
{
  background: var(--accent-color);
  border-radius: 5px;
  margin: 3px;
}

.RowCheckbox {
  position: relative;
  user-select: none;
}

.RowCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.RowCheckboxMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
}

.Template{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  overflow: hidden;
}

.Panel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45px;
  background: var(--secondary-color);
  border-radius: 5px;
  margin: 3px 0;
}



.SwitchCheckbox {
  position: relative;
  user-select: none;
  background: var(--accent-color);
  width: 40px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-self: center ;
  margin-top: 3px;
}

.SwitchCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.SwitchSunMark {
  flex:1;
}

.SwitchMoonMark {
  flex:1;
}

.SwitchSlider{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  opacity: 0.75;
  background: var(--neutral-color);
  left: 0%;
  transition: all 1s ease;
}

.SwitchCheckbox input:checked ~ .SwitchSlider {
  left: 100%;
  transform: translate(-100%, 0);
}
